streamlit
crewai
crewai-tools
databricks
databricks-sdk
pandas
firecrawl-py #firecrawl-py
matplotlib
matplotlib-inline
pydantic
pydantic-settings
pydantic_core
python-pptx
python-docx
openpyxl
beautifulsoup4
chromadb
pysqlite3-binary
PyPDF2
